<link rel="stylesheet" type="text/css" href="/css/admin/formularios.css">

<h1 class="titulo agregar">Representantes<a href="/panel/representantes"><i class="fa fa-arrow-left"></i> Volver</a></h1>
<p class="descripcion">Registrar un representante en la institución</p>

<div class="formulario">
  <form action="/panel/representantes/agregar" method="POST">

    <label for="listen-cedula">Identificación</label>
    <div>
      <select name="nacionalidad">
        <option>V</option>
        <option>E</option>
      </select>
      <input type="text" name="cedula" id="listen-cedula" placeholder="Num. Cédula">
    </div>

    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" placeholder="Primer nombre">

    <label for="apellido">Apellido</label>
    <input type="text" id="apellido" name="apellido" placeholder="Primer apellido">

    <label for="listen-telefono">Teléfono</label>
    <input type="text" name="telefono" id="listen-telefono" placeholder="Número de teléfono">

    <label for="direccion">Dirección</label>
    <textarea name="direccion" id="direccion"  placeholder="Dirección de residencia"></textarea>

    <label for="correo">Correo</label>
    <input type="email" name="correo" id="correo" placeholder="Dirección de correo electrónico">

    <input type="submit" value="Agregar">
  </form>
  <div class="message-flow" id="message-flow"></div>
</div>

<script src="/js/validate.js"></script>
