<link rel="stylesheet" type="text/css" href="/css/admin/tablas.css">

<h1 class="titulo papelera">Niveles<a href="/panel/niveles"><i class="fa fa-arrow-left"></i> Volver</a></h1>
<% if(!modulo.registro.length) { %>
<p class="descripcion">Esta papelera esta vacia.</p>
<% } else { %>
<p class="descripcion">Niveles que han sido eliminados recientemente (<%= modulo.registro.length %> registros)</p>
<% if(sesion && sesion.super) { %>
<form id="vaciar" method="POST" action="/panel/niveles/papelera/vaciar">
  <button class="vaciar" title="Todos los registros seran eliminados permanentemente"><i class="fa fa-trash"></i> Vaciar papelera</button>
</form>
<% } %>

<div class="tabla">
  <div class="busqueda">
    <p>Busqueda</p>
    <select>
      <option value="todo" selected>Todo</option>
      <option value="codigo">C贸digo</option>
      <option value="descripcion">Descripci贸n</option>
    </select>
    <input type="text" name="busqueda" placeholder="Escriba su busqueda">
    <input type="button" name="buscar" value="Buscar" onclick="realizarBusqueda()">
  </div>
  <div class="contenedor">
    <table>
      <thead>
        <tr>
          <th>C贸digo</th>
          <th>Descripci贸n</th>
        </tr>
      </thead>
      <tbody>
         <% modulo.registro.forEach(function(r) { %>
          <tr>
            <td><%= r.codigo %></td>
            <td><%= r.descripcion %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <div class="controles">
    <a class="ver" title="Ver"><i class="fa fa-eye"></i></a>
    <form id="recuperar" method="POST">
      <button class="recuperar" title="Restaurar"><i class="fa fa-refresh"></i></button>
    </form>
    <span></span>
    <a class="reporte habilitado" title="Imprimir reporte" onclick="obtenerReporte('table')"><i class="fa fa-print"></i></a>
  </div>
</div>

<div class="fila-detalles">
  <ul>
    <li><span>Id.:</span><span id="id"></span></li>
  </ul>
</div>


<script type="text/javascript">
  var modulo = <%-JSON.stringify(modulo)%>;
</script>
<script type="text/javascript" src="/js/admin/tablas.js"></script>
<% } %>
