<!-- <img src="/img/admin_404.png"> -->
<h1>Esta pagina no existe</h1>

<style type="text/css">
  div.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contenido img { max-width: 400px; }
  .contenido h1 { color: #555; }
</style>
