<img src="/img/admin_error.png">
<h1>Ocurrió un error inesperado</h1>
<h2>Usted debe contactar al personal técnico, ¡puede que el sistema esté fallando!</h2>
<p><%= modulo.registro %></p>

<style type="text/css">
  div.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contenido img { max-width: 400px; }
  .contenido h1 { color: #555; margin-bottom: 0; }
  .contenido h2 { color: #555; margin-top: 0; font-size: 1em; }
  .contenido p { font-style: italic; font-size: .8em; }
</style>
